* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

table {
    border: 1px solid whitesmoke;
    width: 80%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid whitesmoke;
    padding: 5px;
}

body {
    background: black url("../img/back.jpg") repeat center;
    background-size: 575.5px 310px;
}

header {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 2rem;
}

section {
    text-align: right;
    padding: 10px;
    position: fixed;
    right: 1rem;
    top: 0;
}

section>* {
    display: inline-block;
    margin: 1rem;
}

.money {
    font-weight: bold;
    margin-right: 0;
}

textarea,
input,
select,
button {
    background-color: whitesmoke;
    border: 2px solid #616161;
    color: #616161;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: .3s ease;
    min-width: 10rem;
}

button[data-on="false"],
button:hover {
    background-color: #616161;
    border-color: whitesmoke;
    color: whitesmoke;
}

button:active:not([data-on="false"]) {
    box-shadow: inset 0 0 5px 2px whitesmoke;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    text-align: left;
    min-width: 3rem;
    width: 4rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex>* {
    margin: .8rem;
}

.flex.col {
    flex-direction: column;
}

.ps {
    flex-basis: 70%;
}

.ps>.flex {
    justify-content: space-around;
    width: 100%;
}

.image {
    background-image: url("../img/button.jpg");
    background-size: cover;
    width: 20rem;
    height: 10rem;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 3px
}

#biliard {
    background-image: url("../img/biliard.png") !important;
    text-shadow: 0 0 5px rgba(25, 25, 25, 0.4)
}

.image:hover {
    box-shadow: 0 0 5px 1px whitesmoke
}

.label {
    width: 10rem;
    font-size: 1.2rem;
    margin-bottom: -1.5rem !important;
}

.label:nth-of-type(1) {
    margin-left: -10.5rem;
}

.label:nth-of-type(2) {
    width: 6rem;
    margin-right: -13rem;
}

select {
    width: 16rem
}

button[data-on="false"] {
    cursor: default;
    background-color: #303030;
}

option {
    color: #616161
}

.main {
    position: relative;
}

.mod {
    position: absolute;
    display: none;
    width: 99%;
    height: 100%;
}

.modal {
    position: absolute;
    width: 70%;
    height: 50vh;
    top: 1rem;
    left: 1rem;
    background-color: #303030;
    border: 5px solid whitesmoke;
    box-shadow: 6px 6px 20px 0px black;
    border-radius: 10px;
    padding: 1rem;
    z-index: 10;
}

.report .modal {
    height: auto;
}

.options input {
    width: 8rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    color: #f2f2f2;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url("../img/check_radio_sheet.png") left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url("../img/check_radio_sheet.png") -19px top no-repeat;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url("../img/check_radio_sheet.png") -38px top no-repeat;
    cursor: pointer;
    border: 1q solid whitesmoke;
    border-radius: 50%;
}

input[type="radio"]:checked+label span {
    background: url("../img/check_radio_sheet.png") -57.5px -1px no-repeat;
}

.selected {
    border: 2px solid maroon !important;
    box-shadow: 0 0 10px 3px maroon !important;
}